<!-- InstanceBeginEditable name="midbaner" -->
 <div class="contentCongratulation">
	<div class="pageContent">
    		<div>
        		<p>Congratulations. Your account has been successfully created!</p>
                <%= link_to '', signin_path, :class=>"btnPlease"%>
            </div>
     </div>
</div><!--header -->
<!-- InstanceEndEditable --><!-- edit mid baner -->