 <!-- InstanceBeginEditable name="midbaner" -->
 <div class="contentThankyou">
	<div class="pageContentThankyou">
    		<div>
        		<p>Your TinyPulse is actived!</p>
                
            </div>
     </div>
</div><!--header -->
<!-- InstanceEndEditable --><!-- edit mid baner -->
