<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	<div style="width: 750px;">
    <h1 style="color: #1155CC;">Welcome to TinyPulse</h1>
    <p>
      Congratulations on getting a pulse on your company's culture to improve retention, increase happiness,<br/> and to make your place a better place to work. To complete the signup process, please click on this button: <a style="background-color: #FCAC00;border: 1px solid #DB7500;color: #FFFFFF;left: 10px;padding: 7px;position: relative;text-decoration: none;top: 10px;" href="<%= @url %>">Complete&nbsp;SignUp</a> <br/>
    </p>
    <br />
    <hr/>
    <p><p>
    Or, you can copy and paste this into your browers:<%= @url %></br>
    <p>Welcome and Thank You,</p></br>
    <p>TINYpulse Team</p>
    </div>
  </body>
</html>