<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1 style="color: #1155CC;">Welcome to TinyPulse</h1>
    <p>
      <%= @full_name %> has signed you up to receive one pulse email question per week. Here's more details on these pulse emails: 
    </p>
    <br />
    <p>
      *Your responses are 100% anonymous 
    </p>
    <br />
    <p>
      *Receive an initial baseline set of questions
    </p>
    <br />
    <p>
      *Then, you'll receive one question per week 
    </p>
    <br />
    <p>
      *Can also provide anonymous feedback anytime 
    </p>
    <br />
    <p>
      If you have any questions, please contact <%= @full_name %>. Thanks for participating to improve your company's culture and to make it a better place to work. 
    </p>
    <br />
    <hr/>
    <p><p>
    <p>Thank You,</p></br>
    <p><%= @full_name %></p>
  </body>
</html>