<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to TinyPulse, <%= @user.first_name %> <%= @user.last_name %></h1>
    <p>
      You have successfully signed up to TinyPulse,
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      Please,Active user by click follow this link: <a href="<%= @url %>">Link</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>